main {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: beige;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

ul {
  padding: 0;
}

li {
  padding: 0.25rem 0;
  display: flex;
  justify-content: space-between;
}

li span {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

button {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(112, 166, 5);
  color: white;
}
