* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: brown;
}

main,
section,
form,
label,
ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

section {
  padding: 1rem;
  border-radius: 8px;
  background-color: honeydew;
}

summary {
  cursor: pointer;
  user-select: none;
}

details[open] summary {
  margin-bottom: 1rem;
}

label {
  flex-direction: row;
  align-items: center;
}

input {
  padding: 0.2rem 0.25rem;
}

button {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(13, 96, 96);
  cursor: pointer;
}

ul {
  gap: 0.5rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  cursor: pointer;
  padding: 0 0.5rem;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}
