* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkolivegreen;
}

main,
form,
section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

section {
  width: 100%;
  padding: 1rem;
  background-color: beige;
  border-radius: 5px;
}

button {
  padding: 0.2rem 0.25rem;
  background-color: rgb(13, 96, 96);
  color: white;
  border: none;
  border-radius: 4px;
}

input {
  padding: 0.2rem 0.25rem;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

li span {
  padding: 0 0.5rem;
  cursor: pointer;
}

.done {
  color: #999;
  text-decoration: line-through;
}
