* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main,
form,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

section {
  padding: 1rem;
  background-color: beige;
  border-radius: 5px;
  min-width: 250px;
}

button {
  padding: 0.2rem 0.25rem;
  background-color: rgb(13, 96, 96);
  color: white;
  border: none;
  border-radius: 5px;
}

input {
  padding: 0.2rem 0.25rem;
}

li {
  display: flex;
  gap: 1rem;
}

.done {
  color: #999;
  text-decoration: line-through;
}
